
<div class="modal-header">
    <h4 class="modal-title pull-left">{{titulo}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

      <ul *ngIf="lista.length">
          <li *ngFor="let item of lista">{{item}}</li>
      </ul>

    <!-- https://v4-alpha.getbootstrap.com/components/forms/#form-controls -->

      <form #formulario="ngForm" (ngSubmit)="onConfirm(formulario)">

          <div class="form-group">
            <label for="exampleInputEmail1">{{datos | json}}</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{list}} name="dato1" [(ngModel)]="dato1">            
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="exampleTextarea">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onCancel(formulario)">{{botonCerrar}}</button>
  </div>



















