<div *ngIf="total_reg!=0;then content0 else else_content0"></div> 
<ng-template #content0>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Contenido</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let elemento of elementos">
                <td>{{elemento?.id}}</td>
                <td>{{elemento?.title}}</td>
                <td>{{elemento?.content}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="actionPut(elemento)">Modificar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="actionDelete(elemento)">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
    
            <div *ngIf="page>1;then content1 else else_content1"></div>
            <ng-template #content1>
                <li class="page-item">
                    <a class="page-link" role="button" (click)="actionPagination(page-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            </ng-template>
            <ng-template #else_content1>
                    <li class="disabled">
                        <a class="page-link" role="button" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
            </ng-template>

    
            <li *ngFor="let page_item of page_list" class="page-item">
                <a class="page-link" role="button" (click)="actionPagination(page_item)">{{page_item}}</a>
            </li>
    
            <div *ngIf="page!=page_max;then content2 else else_content2"></div>
            <ng-template #content2>
                <li class="page-item">
                    <a class="page-link" role="button" (click)="actionPagination(page+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ng-template>
            <ng-template #else_content2>
                    <li class="disabled">
                        <a class="page-link" role="button" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
            </ng-template>            
        </ul>
    </nav>

    <p>page : {{page}} </p>
    <p>per_page : {{per_page}} </p>
    <p>total_reg: {{total_reg}} </p>
    <p>page_list: {{page_list}} </p>
    <p>page_max: {{page_max}} </p>

</ng-template>
